:root {
  --primary-light: #5ECE7B;
  --primary-light-btn: #2bb84e;
  --primary-dark: #1D1F22;
}

@font-face {
  font-family: 'Raleway';
  src: url("./assets/fonts/Raleway-Regular.ttf") format("ttf");
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("./assets/fonts/Raleway-Bold.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway';
  src: url("./assets/fonts/Raleway-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: 'Roboto';
  src: url("./assets/fonts/Roboto-Regular.ttf") format("ttf");
}

@font-face {
  font-family: 'SourceSansPro';
  src: url("./assets/fonts/SourceSansPro-Regular.ttf") format("ttf");
  font-weight: normal;
}

body, button {
  font-family: 'Raleway', sans-serif;
}

body, a {
  color: var(--primary-dark);
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  font-size: 100%;
}

main {
  margin: 0 auto;
  padding: 1rem 3rem;
  max-width: 1440px;
}

img {
  max-width: 100%;
}

button, a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button:disabled {
  opacity: 0.8;
  cursor: auto;
}

